body{
    font-family: 'Poppins', sans-serif;
    margin:auto;
}
h1{
    font-size: 50px;
}
.clrofname{
    color: cadetblue;
}
.display{
    display: flex;
    background-image:url(images/new.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.display img{
    width: 100%;
    border-radius: 50%;
}
.halfwidth{
    width: 50%;
    padding-left: 3%;
    padding-top: 5%;
    font-weight: 500;
}
.halfwidth1{
    width: 50%;
    border-image-outset: 10px;
}
#hireme{
    text-decoration: none;
    background-image: linear-gradient(grey,rgb(48, 47, 47));
    padding:10px 40px;
    color:whitesmoke;
    font-weight: 700;
    font-size: 20px;
}